:root{
    --main:#005EB0;
    --heading:"Montserrat";
    --para:"Raleway";
    --second: #3174B2  ;
    --font:"Poppins";
    --font2:"Roboto";
  --third:#E5E7EB;
}
body{
    font-family: var(--para);
    scroll-behavior: smooth;
    box-sizing: border-box;
  
   
}
@media only screen and (min-width:1400px){
.table-parent{
    padding: 0px 0px;
}
    .section-7 h1{
        font-size: 30px !important;
      }
    .header-1 h1{
        font-size: 28px !important;
    }
    .header-1 .container .col-5 a{
        font-size: 16px !important;
    }
    h1{
        font-size: 50px !important;
    }
    .section-1 .radio-box label{
        font-size: 18px !important;
    }
}
.header-1{
    background-color:var(--main) ;
    height: 75px;
    width: 100%;
    border-bottom: 1px solid #fff;
}
.header-1 .container{
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-1 .container .col-5 a{
    color: #fff;
    background-color:transparent;
    border: 1px solid #fff;
    text-decoration: none;
    font-weight: 600;
    padding: 5px 27px ;
    font-size: 13px ;
    border-radius: 4px;
    text-transform: uppercase;
}
.header-1 .container .col-5 a:hover{
    color: #000;
    background-color:#fff;
 
    font-weight: 700 !important;
  transition:  all 200ms ease-in;
}
.header-1 .container .col-5 a.active{
    color: #000;
    background-color:#fff;
    border: none;
    font-weight: 700 !important;
    font-style: italic;
}
.header-1 .container .col-5{

    padding: 8px 0px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;


}
.section-1 .col-lg-6 button{
    border: none;
    outline: none;
    padding: 12px 25px;
    background-color: var(--second);
    color: #fff;
    font-size: 20px;
    border:0.6px dotted #fff;
    font-weight: 600;
    border-radius: 8px;
}

.header-1 button , .responsive-header button{
    border: 0.1px dashed #fff;
    outline: none;
    background-color: var(--second);
    font-weight: 400;
    color: #fff;
    font-size: 14px;
    padding: 7px 20px;
    border-radius: 4px;
}
.header-1 button:hover{
    border: 2px solid #fff;
    transition: all 1s ease-in-out;

}
.tick-svg{
    color: #d50042;
    background-color: #ffdbdc;
    border-radius: 6px;
    padding: 2px;
}
.header-1 .col-3 a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px !important;
}
section{
    padding-top: 40px;
}
.section-1 h3{
    font-size: 22px !important;
    color: #fff;
    font-family: var(--heading);
    font-style: italic;

}
h1{
    font-weight: 700;
    font-family: var(--para);
    font-size: 40px;
}
section ul li{
    margin-top: 20px;
    font-size: 15px;
   
}
.section-1 ul li{
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: normal;
    align-items: start;
    margin-top: 5px;
}
.section-1 ul li p{
    font-size: 17px;
    font-family: var(--font);
    font-weight: 500;
    color: #fff;
}
section ul{
    padding-left: 0px;
}
.main-form{
    width: 100%;
    background-color: #fff;
    
    border-radius: 6px;
box-shadow: 0px 12px 60px rgba(0, 0, 0, .15), 0px 12px 32px rgba(0, 0, 0, .001);;
    color: #000;
}
.form-header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-header input{
    border: none;
    outline: none;
font-size: 16px;

font-weight: 600;
margin-left: 10px;
color: rgb(99, 99, 109);
width: 250px;
}
.form-header button{
    border: 1px solid rgb(209, 213, 219);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    border-radius: 6px;
    background-color: #fff;
}
.form-body{
    padding: 10px;
    border-top: 1px solid rgb(229, 231, 235);
    border-bottom: 1px solid rgb(229, 231, 235);

    
}
.form-body span{
    background-color: rgb(5, 150, 105);
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 6px;
}
.form-body p{
    font-size: 16px !important;
    color: #000 !important;
    font-weight: 700 !important;
  
}
.form-footer{
    padding: 10px;
}
.form-footer p{
    color: #63636d;
    font-size: 14px !important; 
    font-weight: 600 !important;
}
.form-footer button{
    background-color: rgb(229, 231, 235);
    border-radius: 6px;
    border: none;
    outline: none;
    padding: 6px 0px;
    font-size: 14px;
    color: #000;
    font-weight: 600;
}
.section-1{
    padding-bottom: 40px;
    padding-top: 30px;
}
h2{
    color: var(--second);
    font-family: var(--heading);
    font-weight: 700;
}
.input-box{
    display: flex;
    justify-content: space-between;
}
.main-form form{
    display: flex;
    flex-direction: column;
    gap: 10px;
margin-top: 30px;
}
.input-box label{
font-family: var(--font2);
font-size: 14px;
width: 50%;
}
.input-box  input{
    font-family: var(--font2);
    font-size: 13px;
    height: 26px;
    border: 1px solid #000;
    outline: none;
    padding-left: 5px;
    border-radius: 4px;
    width: 45%;
}
.input-box button{
    border: none;
    outline: none;
    font-family: var(--font2);
    font-weight: 500;
    font-size: 12px;

    color: #fff;
    padding: 6px 18px;
    border-radius: 5px;
}
.start {
width: 30%;
background-color: #85a1bc;
transition: 0.5s ease-in-out;

}
.additonal-customization{
    background-color: var(--second);
}
.header-2{display: none;}
@media Only screen and (min-width:300px) and (max-width:1199px){
    .responsive-header ul{
        padding-left: 10px !important;
    }
    header button{
        border: 1px solid  #fff !important; 
    }
    .header-1{
        display: none !important;
    }
    .header-2{
        display: flex !important;
        justify-content: space-between;
        height: 65px;
        align-items: center;
        background-color: var(--main);
        padding: 0px 10px;
    }
    .header-2 i{
        font-size: 40px ;
    }
    .responsive-header{
        padding: 15px;
        background-color: var(--second);
position: absolute;
top: 60px;
z-index: 1;
width: 100%;
        
    }
    .responsive-header ul li{
        list-style: none;
        margin-top: 15px; 
        color: #fff;
    }
}
.responsive-header{
    display: none ;
  

}
@media only screen and (min-width:300px) and (max-width:550px){
    .table-parent {
        width: 100%; /* Full width for the container */
        overflow-x: hidden; /* Prevent the entire div from scrolling */
        display: flex;
        justify-content: center;
        padding: 10px; /* Optional padding for centering */
      }
      
      .table-wrapper {
        overflow-x: auto; /* Scroll only the table */
        width: 100%; /* 70% width for the table wrapper */
      }
      
      .table-wrapper table {
        width: 100%; /* Table will occupy 100% of the wrapper */
        border-collapse: collapse;
        min-width: 600px; /* Minimum width to ensure scrollability */
      }
    #process .process-parent{
        padding-left: 10px;
        padding-right: 10px;
    }
    .section-1 .radio-box label{
        font-size: 16px;
    }
    th{
        font-size: 12px !important  ;
    }
    td{
        font-size: 14px  !important;
    }
    .section-1{
        overflow-x: hidden !important;
    }
    .section-1 .radio-box label{
        font-size: 14px !important;
    }
    .section-1 .radio-group{
        gap: 20px !important;
    }
    .section-1 h1{
        font-size: 28px !important;
    }
    
    .sign-up-main{
        width: 100% !important;
    }
    .login-diaglog-box , .sign-diaglog-box{
        width: 100% !important;
        top: 50% !important;
    }
 .section-1{
    padding-top: 40px;
 }
 .section-1 .col-lg-6 {
    margin-bottom: 20px;
 }
 .form-header input{
    width: 150px;
 }
    .additonal-customization-box{
    right: 10% !important;
    top: 81% !important;
 }
    .input-box button{
        width: 100%;
        margin-bottom:15px ;
    }
    .card{
        width: 100% !important;
        margin-bottom: 25px;
    }
    h1{
        font-size: 35px;
    }
}
h3{
    color:#00cd0a;
    font-size: 23px;
    font-weight: 600;
}
p{
    font-weight:500;
  
}
strong{
    font-family: "public sans";
    /* font-weight: 700; */
}
.section-1 p{
    color: #000;
    font-size: 20px;
    font-weight: 500;

}
.section-2  ul{
    padding-left: 0;
    list-style: none;
}
.section-2 ul li{
    border-bottom: 2px dashed #000;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
   gap: 16px;
}
.icon-wrap{
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    display: flex;
    background-color:#00cd0a;
    flex-direction: row;
}
.text-block{
    color: #fff;
    font-size: 22px;
    font-weight: 600;
}
h4{
    font-weight: 600;
    font-size: 18px;
}
.accordion-header button{
    background-color: var(--main) ;
    color: #fff;
    font-weight: 600;
    border: none;
}
.accordion-button:focus{
    border: none;
    box-shadow: none;
}
.accordion-button::after{
    background-color: #f2f2f2;
}
.accordion-button:not(.collapsed){
    background-color: var(--second);
    color: #fff;
}
.accordion-body{
    background-color: var(--second);
    color: #fff;
}
.card-title{
    font-weight: 600;
}
footer{
    background-color: #fff;
    color: #000;
    padding-top: 50px;
    padding-bottom: 30px;
margin-top: 50px;
border-top:  2px dashed var(--main);
}
footer .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer ul li{
    list-style: none;
    font-weight: 500;
    font-family: "Public Sans";
    margin-top: 10px;
}
footer ul li a {
    color: inherit !important;
    text-decoration: none;
}
footer ul li.active{
    font-size: 24px;
    font-weight: 700;
    font-family: var(--heading);
    color: var(--main);
}
.section-1{
    background-color: var(--main);
}
.section-2 h4{
color: #000;
}
.section-4 {
    padding-left:40px ;
    padding-right:40px ;

}
.respo-header-2{
    display: none;
}
@media only screen and (min-width:300px) and (max-width:720px){
.header-2 h1

{
    font-size: 18px !important;
}
    .respo-header-2{
        
        background-color: var(--main);
        color: #fff;
        padding: 20px;
        width: 100%;
        position: absolute;
    }
    .respo-header-2.active{
        display: block;
    }
    .respo-header-2 ul li{
        list-style: none;
       
     
        width: fit-content;
        padding: 8px;
        border-radius: 6px;
    }
    .respo-header-2 ul li.active{
        background-color: var(--second);
    }
    .options-list-respo{
        display: flex !important;
        padding: 0px 12px;
        justify-content: space-between;
        align-items: center;
    }
    .options-list-respo i{
font-size: 30px;
    }
    .options-list{
        display: none 
        !important;
    }
    .modal-dialog{
        width: 100% !important;
       position: absolute !important;
       left: 50% !important;
       transform: translateX(-50%) !important;
    }
    .List-parent{
        width: 100% !important;
    }
    .dashboard section div{
        width: 100% !important;
    }
    .tabs-content{
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .Single-box{
        width: 100%  !important;
    }
}
.preview-image {
    height: auto;
   width: 409px;
    transition: all 1.5s ease-in-out; /* Smooth transition for width change */
}
.header-1 h1 , .header-2 h1 , .sign-up-main h1 {
    color: #fff;
    font-size: 25px;
    margin-bottom: 0px;
    font-style: italic;
}
.options-list h1 {
    color: #005EB0;
    font-style: italic;
    margin-bottom: 0px;
    font-size: 25px !important;
}
.options-list-respo h1{
    font-size: 18px !important;
    margin-bottom: 0px;
    color: #005EB0;
    font-style: italic;
}
footer .container h1{
    color: #000;
    font-size: 25px !important;
    margin-bottom: 0px;
    font-style: italic;
}
.footer h1 span{
    font-size: 13px !important;
    font-style: normal;
}
.header-1 h1 span{
    font-size: 18px;
    font-style: normal;
}
.additonal-customization-box{
    position: absolute;
    background-color: var(--second);
  padding: 20px 5px;
  padding-bottom: 10px;
  top: 10%;
  right: 50.2%;
  width: 255px;
  border-radius: 4px;
  transition: all 0.5s ease-in-out;
  display: none;
}
.additonal-customization-box .input-box{
    display: flex;
    justify-content: space-between;

}
.additonal-customization-box .input-box input{
    font-size: 13px !important;
    border: none;
    outline: none;
    text-align: right;
    width: 80px;    
    padding-right: 5px !important;    
}
.additonal-customization-box .input-box label{
    font-family: "Raleway";
    font-weight: 500;
    width: 60%;
}
.additonal-customization-box .peek-start{
    background-color: var(--main);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.range-labels{
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: var(--font);
    font-size: 14px;
}
.range-sliders{
    display: flex;
}
.range-sliders div{
    height: 10px;
}
.range-sliders div:nth-child(1){
background-color: #EF4444;
border-top-left-radius: 6px;
border-bottom-left-radius: 6px;


}
.range-sliders div:nth-child(2){
    background-color: #F97316;
    }
    .range-sliders div:nth-child(3){
        background-color: #F59E0B;
        }
        .range-sliders div:nth-child(4){
            background-color: #059669;

            }
            .range-sliders div:nth-child(5){
                background-color: #059669;
            background-color: #10B981;

                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;

                }
                .slider-thumbs{
                    position: absolute;
                    width: 12px;
                    height: 22px;
                    border-left: 3px solid #fff;
                    border-right: 3px solid #fff;

                    background-color: #10B981;
                    top: -6px;
                    border-radius: 10px;
                    left: 90%;
                }
                .login-diaglog-box {
                    position: fixed;
                    z-index: 1000;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                  padding: 20px;
                  width: 35%;
                  display: none;
                   border-radius: 6px;
                   background-color: #fff;
                   box-shadow: 0px 12px 60px rgba(0, 0, 0, .15), 0px 12px 32px rgba(0, 0, 0, .001);;

                }
                .login-diaglog-box-active{
                    display: block !important;
                }
                .sign-diaglog-box{
                    position: fixed;
                    z-index: 1000;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                  padding: 20px;
                  width: 35%;
                  display: none;
                   border-radius: 6px;
                   background-color: #fff;
                   box-shadow: 0px 12px 60px rgba(0, 0, 0, .15), 0px 12px 32px rgba(0, 0, 0, .001);;

                }
               
                .sign-diaglog-box p , .In-diaglog-box p {
                    font-size: 20px;
                }
                .sign-diaglog-box label ,.In-diaglog-box label , .sign-up-input-group label{
                    font-size: 16px;
                    font-weight: 500;
                    margin-bottom: 10px;
                }
                .sign-diaglog-box input ,.In-diaglog-box input , .sign-up-input-group input{
                    padding: 10px;
                    font-size: 14px;
                    width: 100%;
                    margin-bottom: 10px;
                    border: 1px solid rgb(209, 213, 219);
                    border-radius: 6px;
                }
                .sign-diaglog-box button ,.In-diaglog-box button , .sign-up-btn{
                    width: 100%;
                    border: none;
                    outline: none;
                    background-color: var(--second);
                    color: #fff;
                    font-size: 14px;
                    font-weight: 600;
                    padding:7px 0px;
                    border-radius: 6px;
                    margin-top: 10px;
                }
                .sign-diaglog-box button:nth-child(4){
                    background-color: #fff;
                    border: 1px solid #63636d;
                    color: #000;
                }
                .In-diaglog-box button:nth-child(4){
                    background-color: #fff;
                    border: 1px solid #63636d;
                    color: #000;
                }
                .login-diaglog-box button{
                    border: none;
                    outline: none;
                    font-size: 14px;
                    font-weight: 600;
                    margin-top: 15px;
                    padding: 6px 0px;
                    border-radius: 6px;
                    background-color: var(--second);
                    color: #fff;

                }
           .sign-btn-google
            {
                border: none;
                outline: none;
                font-size: 14px;
                font-weight: 600;
                margin-top: 15px;
                padding: 6px 0px;
                border-radius: 6px;
                background-color:#fff;
                color: #000;
                border: 2px solid rgb(209, 213, 219);
                width: 100%;
            }
                .login-diaglog-box button:nth-child(4){
                    background-color: #fff;
                    color: #000;
                    border: 1px solid rgb(209, 213, 219);
                }
                .login-diaglog-box .bi-x-lg {
position: absolute;
left: 90%;
font-weight: bolder;
font-size: 18px;
top: 11%;
cursor: pointer;
                }
                .sign-diaglog-box .bi-x-lg , .In-diaglog-box .bi-x-lg{
                    position: absolute;
left: 90%;
font-weight: bolder;
font-size: 18px;
top: 7%;
cursor: pointer;
                }
                .Single-box img{
                    height: 60px;
                    width: 60px;
                    object-fit: cover;
                    margin-bottom: 10px;
                }
                .Single-box{
                    width: 23%;
               margin-bottom: 10px;
                    text-align: center;
                }
                .Single-box p{
                    font-size: 16px;
                }
                .Single-box h5{
                    font-weight: 600;
                }
                .Upper-Area i{
                    font-size: 80px;
                }
                .Upper-Area{
                    display: flex; 
                    justify-content: normal;
                    align-items: center;
                }
                .Upper-Area h5{
                    font-size: 25px;
                    font-weight: 700;
                    margin-top: 10px;
                    margin-left: 10px;
                }
                .Lower-Area{
                    
                    padding: 24px;
                    font-size: 18px;
                    font-weight: 500;
                    position: relative;
                    color: #fff;
height: 200px;
                }
                .step-number{
                    position: absolute;
                    top: -1em;
                    color: #fff;
                    left: -1em;
                    width: 2em;
                    height: 2em;
                    border-radius: 1em;
                    text-align: center;
                    line-height: 2em;
                    border: 1px solid #fff;
                }
                .bg-brick{
                    background-color: #df5439!important;
                }
           
                .bg-gold{
                    background-color: #c88d39!important;
                }
                .bg-green{
                    background-color: #71932d !important;
                }
                .options-list{
               display: flex;
              height:60px;
              background-color: #ffff !important;
              justify-content: space-between;
              align-items: center;

                }
                .dashboard , .list{
                    background-color: #F9F9FC !important;
                }
                .options-list .profile-img{
                    border-radius: 50%;
                    border: 1px solid black;
                    height: 30px;
                    width: 30px;
                }
 
                .options-list a{
                    cursor: pointer;
             
                    font-size: 14px !important;
                    font-family: "Raleway";
                    font-weight: 500;
                    display: flex;
                    gap: 5px   ;
                    padding: 6px 15px;
                    border-radius: 9999px;
                    margin-bottom: 0px;
                }
                .options-list a.active{
                 background-color: #0000440f;
                 color: #000;

                }
                .options-list p{
                    font-size: 14px;
                    color: #333;
font-family: "Roboto";
                    font-weight: 400;
                }
                .dashboard h1 , .list h1{
                    font-size: 28px !important;
                    font-family: var(--para);
                }
                .dashboard section div{
                    background-color: #fff;
                    padding: 8px 15px;
                    width: 50%;
                    display: flex;
                    gap: 10px;
                    justify-content: normal;
                    align-items: center;
                   box-shadow:  0px 12px 60px rgba(0, 0, 0, .15), 0px 12px 32px rgba(0, 0, 0, .001);
border-radius: 6px;
border: 1px solid rgb(229, 231, 235);
                }
                .dashboard section div input{
                    border: none;
                    outline: none;
                    font-size: 16px;
                    font-weight: 600;
                    width: 100%;
                }
                .dashboard section div button{
                    border-radius: 6px;
                    background-color: var(--main);
                    color: #fff;
                    border: none;
                    outline: none;
                    font-size: 15px;
                    font-weight: 600;
                    padding: 6px 12px;
              transition: all 400ms ease-in-out;
                    display: flex;
                    float: right;

                }
                .List-parent{
                    background-color: #fff;
                   
                    width: 50%;
                 
                 
                   box-shadow:  0px 12px 60px rgba(0, 0, 0, .15), 0px 12px 32px rgba(0, 0, 0, .001);
border-radius: 6px;
border: 1px solid rgb(229, 231, 235);
                }
                .list-header{
                    border-bottom: 1px solid  #d8d9e1; 

padding-left: 16px;
padding-right: 12px;
padding-top: 8px;
padding-bottom: 8px;


                }
                .list-header p{
                    font-weight: 600;
                }
                .list-body{
                    padding: 15px 15px;
                    display: flex;
                    gap: 20px;

                }
                .list-body button{
                    padding: 12px 20px;
                    border: 1px solid  rgb(209 213 219 ) ;
                    outline: none;
                    background-color: #fff;
                    border-radius: 6px;
                    font-weight: 600;
                    font-size: 15px;
                }
                .list-body button:hover{
                    border: 2px solid #ef2d56   ;
                    transition: border 20ms ease-in;
                }
                .list-body span{
                    color: #666;
                    font-size: 12px;
                    font-weight: 600;
                }
                .list-body textarea{
                    width: 100%;
                    border: none;
                    outline: none;
                    font-size: 12px;
                    font-family: "Roboto";
                }
                .validate-list-btn{
                    padding: 4px 14px !important;
                    font-size: 14px !important  ;
                    background-color: var(--main) !important;
                    color: #fff !important;
                }
           .modal-body h1{
            font-size: 23px;
            text-align: center;
           }
           .modal-body p{
            font-size: 14px;
            text-align: center;
           }
           .modal-dialog {
            max-width: 80% !important;
           }
           .sign-up-main{
            width: 50%;
           }
           .options-list-respo{
            display: none;
           }
           .section-1 .radio-box{
            display: flex;
            justify-content: normal;
            align-items: center;
            gap: 10px;
           }
           .section-1 .radio-box label{
            color: #fff;
            font-weight: 600;
            font-size: 16px;
           }
           .section-1 .radio-box input{
            height: 15px;
            width: 15px;
           }
           .section-1 .radio-group{
            display: flex;
            flex-wrap: wrap;
            gap: 50px;
            margin-top: 30px;
            justify-content: center;
           }
           .section-1 h1{
            font-family: var(--heading);
            text-transform: uppercase;
            color: #fff;
            text-align: center;
            font-style: italic;
            font-size: 35px     ;
            margin-top: 28px;
           }
           table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 25px;
         
          }
          .table-parent{
            overflow-x: auto;
            padding: 0 25px;
          }
          th, td {
            border: 1px solid #666;
            padding: 8px;
            text-align: center;
            font-family: var(--font);
          }
          th {
            background-color: #FDFFFE;
            font-size: 18px;
          }
          td{
            background-color: #F2F2F2;
            font-size: 16px;
            font-weight: 500;
          }
          td:hover{
            background-color: #fff;
            transition: all 100ms ease-in-out;
          }
   .first td{
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #fff;
   }
   .section-1 button{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    font-family:var(--font2);
    color: #fff;
    border-radius: 4px;
    padding: 6px 30px;
    background-color: #5095DA;
    border: none;
    outline: none;
    border: 1px dotted #fff;
   }
   .section-1 button:hover{
    background-color: #fff;
    color: #000;
    transition: all 200ms ease-in-out;
   }
.section-6{
background-color: #F8F1DF;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    width: 100%;
    overflow: hidden;

  }
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    margin:0 auto;
    border-radius: 6px;

  }
  .section-7{
    background-color: #FBFAF5;
  }
  .section-7 h1{
    font-size: 28px;
  }
  .sign-up-main h2{
    font-size: 25px;
    font-family: "Raleway";
    font-weight: 700;
  }